@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply bg-white text-[#111] antialiased;
    font-family: 'Libre Franklin', Arial, sans-serif;
  }
}
